body {
    background: linear-gradient(to right, #8687e5, #b5f4ff);
}

.nicecard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.nicecard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.5em;
    color: #333;
}

.card-subtitle {
    font-size: 1.1em;
    color: #555;
}

.card {
    border: none; /* Remover el borde predeterminado */
    border-radius: 10px; /* Bordes redondeados */
}
